.create-blog-wrapper {
    height: 100%;
    width: 100%;
}

.create-blog {
    min-width: 30%;
}

.editor {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.editor-segment {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
}

@media only screen and (max-width: 680px) {
    .create-blog {
        height: 100%;
        width: 100%;
    }

    .create-blog > .form-title {
        display: none;
    }
}
